<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% include multilingual-sel.html %}
<!-- 中文版本 -->
<article class="zh post-container">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
    {{ content }}
</article>
<!-- 英文版本 -->
<article class="en post-container">
    <h1>{{ page.english_title }}</h1>
    {% if page.english_subtitle %}<h2>{{ page.english_subtitle }}</h2>{% endif %}
    {{ page.english_content | markdownify }}
</article>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
